<ion-header>
  <ion-toolbar>
    <ion-title>nouscontacter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" (click)="show()">contacter</ion-button>

</ion-content>
