<ion-split-pane>
<ion-menu side="start" menuId="first" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-img src="{{logo.logo}}"></ion-img>
      <ion-title>Fewnu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item-divider color="primary">
      <p>Resumé</p>
    </ion-item-divider>
    <ion-menu-toggle *ngFor="let m of menus">
        
      <div (click)="onMenuItem(m)"><br>
          
        <ion-icon [name]="m.icon" slot="start"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <ion-label>{{m.title}}</ion-label>
     
      </div>
    </ion-menu-toggle>

    <ion-menu-toggle *ngFor="let m of men">
      <div (click)="onMenoItem(m)"><hr>
            
        <ion-icon [name]="m.ico" slot="start"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <ion-label>{{m.titl}}</ion-label>
     </div>
    </ion-menu-toggle>
    <ion-item-divider color="primary">
    <p>Gestion stock</p>
  </ion-item-divider>
    <ion-menu-toggle *ngFor="let m of menus1">
      <div (click)="onMenu1Item(m)"><hr>
            
        <ion-icon [name]="m.icon1" slot="start"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <ion-label>{{m.title1}}</ion-label>
     </div>
    
    </ion-menu-toggle>
    <ion-item-divider color="primary">
      <p>Fewnu Infos</p>
    </ion-item-divider>
    <ion-menu-toggle *ngFor="let m of menuo1">
        
      <div (click)="onMenuo1Item(m)"><br>
          
        <ion-icon [name]="m.icono1" slot="start"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <ion-label>{{m.titleo1}}</ion-label>
     
      </div>
    </ion-menu-toggle>

    <ion-menu-toggle *ngFor="let m of menuo">
        
      <div (click)="onMenuoItem(m)"><br>
          
        <ion-icon [name]="m.icono" slot="start"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <ion-label>{{m.titleo}}</ion-label>
     
      </div>
    </ion-menu-toggle>
    <ion-item-divider color="light">
      <p></p>
    </ion-item-divider>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

</ion-split-pane>
