<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button color="light"  defaultHref="menu/aceuil"></ion-back-button>
      </ion-buttons>
    <ion-title>hebdomadaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    

</ion-content>
