<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button color="light"  defaultHref="menu/aceuil"></ion-back-button>
      </ion-buttons>
    <ion-title>inventaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>

        <ion-tab-bar slot="top" color="primary">
          <ion-tab-button tab="journalier">
            
            <ion-label>JOURNALIER</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="mensuel">
            
            <ion-label>MENSUEL</ion-label>
          </ion-tab-button>
      
        </ion-tab-bar>
      
      </ion-tabs>


</ion-content>
