<ion-header>
      <ion-toolbar class="ion" color="primary">
          <ion-buttons slot="start">
        
        <ion-back-button color="light"  defaultHref="menu/aceuil"></ion-back-button>
      </ion-buttons>
    
    <ion-title>Fewnu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <form>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      
              <div padding>
                  <ion-item class="item">
                      <ion-label class="value">
                        {{value}}
                      </ion-label>
                    </ion-item><br>
                    <div *ngFor="let numGroup of numberGroups" id="conteneur">
                      <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button"  shape="">{{num}}</ion-button>
                    </div>
      
              </div>        
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
</ion-content>
