<ion-header>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col col-2>
          <th>Designation</th>
        </ion-col>
        <ion-col col-2>
            <th>Prix</th>
        </ion-col>
    </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/ajoutvente">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
