#color{
    background: green;
}
.center{
    margin-left: 10%;
    margin-right: 10%;

}
.col{
  padding: 2;
 }



ion-img{
    width: 30px;
    height: 50px;   
}


  
   ion-content {
    --backgroun: url('/assets/images/ap5.png') no-repeat 1% 1%;
  
}

ion-content {
    --background: url('/assets/images/ap5.png') repeat 60% 100%;
  
}
