<ion-header>
  <ion-toolbar color="primary">
    <ion-title>fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background backgroun">
   <ion-grid>
     <ion-row>   
        <ion-col col-1></ion-col>
           
        <img src="{{logo.logo}}" style="width: 10%; height:auto;border-radius:100%; margin-right: 42%; margin-left:auto; margin-top:5%;">
      
     </ion-row>
   </ion-grid><br><br>

   <form #user="ngForm" (ngSubmit)="onLogin(user)">
    
      <ion-item  color="none">
        <ion-label position="floating">Telephone</ion-label>
        <ion-input type="text" [(ngModel)]="user.phone" name="phone" ngModel style="box-shadow: none;" ></ion-input>
        <ion-img src="{{logo1.logo}}" slot="start"></ion-img>
      </ion-item>
      <ion-item color="none"> 
        <ion-label  position="floating">password</ion-label>
        <ion-img src="{{logo2.logo}}" slot="start"></ion-img>
        <ion-input type="password" [(ngModel)]="user.password"  name="password" ngModel ></ion-input>
      </ion-item>
      <br>
      <ion-button class="center"  color="primary" expand="block" shape="block" type="submit"  size="medium">
        connexion
      </ion-button>
    </form><br>
    <ion-button class="center" name="lock" routerLink="/inscription"  color="primary" expand="block" shape="block" type="submit" size="medium">
      Inscription
    </ion-button>
   

</ion-content>
